<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # we skip all files with .something
    #RewriteCond %{REQUEST_URI} \..+$
    RewriteCond %{REQUEST_URI} !\.js$
    RewriteCond %{REQUEST_URI} !\.gif$
    RewriteCond %{REQUEST_URI} !\.png$
    RewriteCond %{REQUEST_URI} !\.jpg$
    #RewriteRule .* - [L]
	
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>
